body { background-color: azure;}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: bisque;
}


.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-icon svg { 
     width: 30px;
     height: 30px; 
     color:black ;
     transition: color 0.2s; 
     display: inline-block;
    } 

.hamburger{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.hamburger-icon {
    width: 30px;
    height: 30px;
    color: black;
    display: inline-block;

}

.hero-banner {
    background-image: url(young-woman-fabric-samples-curtains-table-fabric-types-ss-FEATURED.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    min-height: 500px;
}

.hero-content {
    background-color: rgba(red, green, blue, alpha);
    padding: 2rem;
    border-radius: 12px;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    color:white;
    margin-bottom: 1rem;
}
.shop-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 6px;
    transition: background-color 0.2s;
  }
  
  .shop-button:hover {
    background-color: #444;
  }

  .quote {
    background-color: gold;
    padding: 64px 16px;
    display: flex ;
    justify-content: center;
  }
  
  .quote-card {
    background-color: hotpink;
    color: antiquewhite;
    padding: 32px 48px;
    border-radius: 12px;

  }

  .corner-left-btn {
    
    text-decoration: none;    /*removes underline from link */
    color: black; /* colour of the text itself */
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 8px 16px;
    background-color: aquamarine;
    border: 1px;
    border-radius: 12px;    /* rounded corners */
    font-size: 16px;
    cursor: pointer;

  }

.corner-right-btn {
    color: black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    background-color: bisque;
    border: 1px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}